In [1]:
%matplotlib inline

In [2]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import requests

#import Google Cloud api key
from config import g_c_api_key

## Note_ When using gmaps, the data being mapped must be an integer or floating-point dec #

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-11-29 23:47:24,-23.1203,-134.9692,76.50,77,0,20.98
1,1,Clyde River,CA,2021-11-29 23:47:24,70.4692,-68.5914,-0.17,78,90,9.22
2,2,Naze,JP,2021-11-29 23:47:25,28.3667,129.4833,70.72,73,65,16.46
3,3,Vaini,TO,2021-11-29 23:47:25,-21.2000,-175.2000,84.36,70,20,9.22
4,4,Iqaluit,CA,2021-11-29 23:47:25,63.7506,-68.5145,11.93,79,90,17.27

In [4]:
#Check the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#Configure gmaps to use the api key
gmaps.configure(api_key=g_c_api_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
len(city_data_df)

582

In [8]:
#drop rows with null values
city_data_df = city_data_df.dropna()

In [9]:
len(city_data_df)

578

In [10]:
# Heatmap of TEMPERATURE
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent HUMIDITY
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent CLOUDINESS
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent WIND SPEED
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-11-29 23:47:24,-23.1203,-134.9692,76.50,77,0,20.98
3,3,Vaini,TO,2021-11-29 23:47:25,-21.2000,-175.2000,84.36,70,20,9.22
8,8,Arraial Do Cabo,BR,2021-11-29 23:47:27,-22.9661,-42.0278,76.96,88,0,12.66
13,13,San Policarpo,PH,2021-11-29 23:47:28,12.1791,125.5072,82.18,79,100,4.18
14,14,Ouricuri,BR,2021-11-29 23:47:28,-7.8825,-40.0817,78.89,63,95,3.31
15,15,Atuona,PF,2021-11-29 23:47:28,-9.8000,-139.0333,78.94,76,18,21.94
17,17,Floresta,BR,2021-11-29 23:47:29,-8.6011,-38.5686,84.04,51,94,9.69
20,20,Bac Lieu,VN,2021-11-29 23:47:30,9.2850,105.7244,76.84,92,100,5.14
26,26,Avarua,CK,2021-11-29 23:43:04,-21.2078,-159.7750,80.65,61,78,14.97
27,27,Kapaa,US,2021-11-29 23:47:32,22.0752,-159.3190,84.18,64,40,4.00

In [22]:
#Count how many cities are between the customer's requested min & max temps
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
#Add a new column in the DataFrame to hold the hotel name
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Rikitea      PF     76.50 -23.1203 -134.9692
3             Vaini      TO     84.36 -21.2000 -175.2000
8   Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
13    San Policarpo      PH     82.18  12.1791  125.5072
14         Ouricuri      BR     78.89  -7.8825  -40.0817
15           Atuona      PF     78.94  -9.8000 -139.0333
17         Floresta      BR     84.04  -8.6011  -38.5686
20         Bac Lieu      VN     76.84   9.2850  105.7244
26           Avarua      CK     80.65 -21.2078 -159.7750
27            Kapaa      US     84.18  22.0752 -159.3190

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_c_api_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping this one")

Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one
Hotel not found...skipping this one

In [31]:
hotel_df.tail(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
535,Mecca,SA,75.49,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
537,Sibolga,ID,75.38,1.7427,98.7792,Hotel Syariah CN Darussalam
539,Ahuimanu,US,78.78,21.4447,-157.8378,Paradise Bay Resort
542,Codrington,AU,80.13,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
544,Yaan,NG,76.96,7.3833,8.5667,
562,Mlonggo,ID,78.69,-6.5333,110.7000,Asia Metal Art
564,Gat,IL,76.41,31.6100,34.7642,OlusHome
569,Sigli,ID,75.74,5.3848,95.9609,Losmen Dua Mali
570,Atambua,ID,79.79,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
577,San Pedro,PH,82.31,14.3500,121.0167,Villa Veronica Resort Private Pool

In [37]:
#Create an info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#iterate through rows and place info in info box template
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
#Add markers
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))