## Deliverable 3. Create a Travel Itinerary Map.

In [126]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_c_api_key

# Configure gmaps
gmaps.configure(api_key=g_c_api_key)

In [127]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\\Vacation_Search\\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Atuona,PF,78.35,clear sky,-9.8000,-139.0333,Villa Enata
1,3,Rikitea,PF,75.81,few clouds,-23.1203,-134.9692,People ThankYou
2,8,Hobyo,SO,79.16,scattered clouds,5.3505,48.5268,Halane Hotel and Restaurent
3,10,Castro,BR,79.61,few clouds,-24.7911,-50.0119,CHACARA BAILLY
4,14,Sinnamary,GF,78.31,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [128]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [129]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [130]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Hervey Bay"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Hervey Bay"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Mount Isa"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Cairns"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Bowen"]

In [131]:
vacation_start.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,43,Hervey Bay,AU,75.04,broken clouds,-25.2986,152.8535,Shelly Bay Resort

In [132]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start= (vacation_start.iloc[0,5], vacation_start.iloc[0,6])
end= (vacation_end.iloc[0,5], vacation_end.iloc[0,6])
stop1 = (vacation_stop1.iloc[0,5], vacation_stop1.iloc[0,6])
stop2 = (vacation_stop2.iloc[0,5], vacation_stop2.iloc[0,6])
stop3 = (vacation_stop3.iloc[0,5], vacation_stop3.iloc[0,6])
waypts=[stop1, stop2, stop3]

In [133]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig=gmaps.figure()
direction_layer_map=gmaps.directions_layer(start, end, waypoints=waypts, travel_mode='DRIVING')
fig.add_layer(direction_layer_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [134]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,43,Hervey Bay,AU,75.04,broken clouds,-25.2986,152.8535,Shelly Bay Resort
1,582,Mount Isa,AU,82.17,scattered clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
2,425,Cairns,AU,78.06,broken clouds,-16.9167,145.7667,Mantra Trilogy Cairns
3,328,Bowen,AU,75.09,clear sky,-20.0167,148.2333,Castle Motor Lodge Motel

In [135]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [136]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))